<div class="container">
	<div class="row" style="margin-top:50px;">
		<div class="col-md-4 col-sm-12">
			<a class="fancybox" rel="gallery1" href="/assets/plan.png" title="جدول متابعة تطور الطفل">
				<img src="/assets/plan.png" alt="" width="300" height="300"/>
			</a>
			<a class="btn btn-m btn-s" href="/planer/download/plan">
				<img src="/assets/pdf.svg" width="36" height="20" style="border:0;"> تحميل
			</a>
		</div>

		<div class="col-md-4 col-sm-12">
			<a class="fancybox" rel="gallery1" href="/assets/plan2.png" title="جدول متابعة نوم الطفل">
				<img src="/assets/plan2.png" alt="" width="300" height="300"/>
			</a>
			<a class="btn btn-m btn-s" href="/planer/download/plan2">
				<i class="fa fa-download"></i> &nbsp; تحميل
			</a>
		</div>
		<div class="col-md-4 col-sm-12">
			<a class="fancybox" rel="gallery1" href="/assets/plan3.png" title="جدول تحضير نشاطات الأسبوع">
				<img src="/assets/plan3.png" alt="" width="300" height="300"/>
			</a>
			<a class="btn btn-m btn-s" href="/planer/download/plan3">
				<i class="fa fa-download"></i> &nbsp; تحميل
			</a>
		</div>
	</div>
</div>
<div class="push"></div>
<footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                <span class="copyright text-muted">Copyright &copy; 
                    <a href="#" target="_blank">
                    <b>Hadhada</b>
                    </a> 2016</span>
                </div>
                <div class="col-md-6 text-right">
                  <div class="social-area pull-right">                
                    <a class="btn btn-social btn-facebook btn-simple" href="#" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a class="btn btn-social btn-twitter btn-simple" href="#" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-social btn-instagram btn-simple" href="#" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
                </div>
            </div>
        </div>
</footer>

<script type="text/javascript">
$(document).ready(function() {
	$(".fancybox").fancybox({
		openEffect	: 'fade',
		maxWidth :'650',
		maxHeight : '550',
		autoCenter : true,	
		closeEffect	: 'fade'
	});
});
</script>

<style type="text/css">
.btn-m {
    border: 1px solid #777;
    padding: 10px 23px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 24%;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    line-height: 1.1;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    cursor: pointer;
    vertical-align: middle;
    z-index: 1;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.btn-s {
    color: #777;
    background: #fff;
}
.btn-s:hover, .btn-s:active {
    background: #FF2A49;
    border-color: #fff;
    color: #fff;
}
img{
	border: 1px solid rgba(153, 153, 153, 0.22);
}
</style>