<div class="row">
    <div class="col-md-8 col-sm-6">
    	<div class="col-md-4 col-sm-3">
<%= link_to ' مقال جديد ',new_article_article_index_path,:class=>"btn btn-compose fa fa-plus"  ,:data=>{:toggle=>"tooltip", :title=>"مقال جديد"}%>
</div>
<%if can? :create, Sound %> 
<div class="col-md-4 col-sm-3">
<%= link_to ' مقطع جديد ',new_sound_path,:class=>"btn btn-compose  fa fa-plus"  ,:data=>{:toggle=>"tooltip", :title=>"مقطع جديد"}%>
</div>
<%end%>
<%if can? :create, :quote %> 
<div class="col-md-4 col-sm-3">
<%= link_to ' اقتباس جديد ',new_quote_path,:class=>"btn btn-compose  fa fa-plus"  ,:data=>{:toggle=>"tooltip", :title=>"اقتباس جديد"}%>
</div>
<%end%>
</div>
</div>
