<div class="fullscreen-bg"></div>
<div class="container">
            <div class="row" style="margin-top:35px;">
                <div class="col-sm-12 text-center">
                    <h1 class="section-heading">هدهدات</h1>
                    <br/>
                    <br/>
            </div>
        </div>
        <div class="row text-center">
        <% @sounds.each do |sound|%>
        <div class="col-sm-6 col-md-6" id="soundcloud">
          <h3><%=sound.title%></h3>
          <%=sound.content.html_safe%>
        </div>
        <%end%>
    </div>
</div>
<style type="text/css">
@media (min-width:768px){
#soundcloud{float: right!important;}
}
.fullscreen-bg {
  background: url('/assets/had.jpg');
  background-repeat: round;
  background-size: 30%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
}
</style>