<div class="fullscreen-bg"></div>
<div class="container">
            <div class="row" style="margin-top:35px;">
                <div class="col-sm-12 text-center">
                    <h1 class="section-heading">هدهدات</h1>
                    <br/>
                    <br/>
            </div>
        </div>
        <div class="row text-center">
        <% @sounds.each do |sound|%>
        <div class="col-sm-6 col-md-6" id="soundcloud">
          <h3><%=sound.title%></h3>
          <%=sound.content.html_safe%>
        </div>
        <%end%>
    </div>
</div>
<div class="push"></div>
<footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                <span class="copyright text-muted">Copyright &copy; 
                    <a href="#" target="_blank">
                    <b>Hadhada</b>
                    </a> 2016</span>
                </div>
                <div class="col-md-6 text-right">
                  <div class="social-area pull-right">                
                    <a class="btn btn-social btn-facebook btn-simple" href="#" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a class="btn btn-social btn-twitter btn-simple" href="#" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-social btn-instagram btn-simple" href="#" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
                </div>
            </div>
        </div>
    </footer>

<style type="text/css">
@media (min-width:768px){
#soundcloud{float: right!important;}
}
.fullscreen-bg {
  background: url('/assets/ground.jpg');
  background-repeat: round;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 56px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
</style>