<div class="Sign_Form col-lg-4 col-lg-offset-4">
	<h2 class="form-signin-heading text-center" style="color:#B0ABAB;">إضافة صورة</h2>
  
 <%= form_for(:article,:class=>"form-signin", :url => {:controller => 'article', :action => 'icon'},:html => {:id => "article_icon"} ,:multipart => true) do |f| %>

  <div class="row">
      <div class=" form-group text-center">                            
    <div class="fileinput fileinput-new" data-provides="fileinput">
      <input type="hidden" value="" name="article[icon]">
      <input type="hidden" value="<%=params[:id]%>" name="article[id]">
      <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px; line-height: 150px;"></div><br>
      <div>
      <span class="btn btn-icon btn-icon-left btn-primary btn-file">
        <i class="fa fa-cloud-upload"></i>
        <span class="fileinput-new">إختر صورة</span>
        <%= f.file_field 'icon' , :id=>"fileinput_thumb" ,:required=>true %>
      </span>
      <button class="btn btn-icon btn-danger fileinput-exists" data-dismiss="fileinput">
      <i class="fa fa-times"></i>
            Remove
      </button>
               
      </div>
      </div><!-- /fileinput -->
      </div>
  </div>

    <%= f.submit 'إضافة',:class=>"btn btn-lg btn-primary btn-block" %>

 <%end%>
</div>

<style type="text/css">
/*-----fileinput for icon-------*/
.fileinput {
  display: inline-block;
  margin-bottom: 9px;
}

  .fileinput .thumbnail {
  display: inline-block;
  margin-bottom: 5px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  border-color: #e7edf2;}

  .thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857;
  background-color: #fff;
  border: 1px solid #e7edf2;
  border-radius: 4px;
  transition: all .2s ease-in-out;
}

.btn-file>input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  opacity: 0;
  direction: ltr;
  }

  .fileinput .btn {
  vertical-align: middle;}
  .btn-file {
  position: relative;
  overflow: hidden;
  vertical-align: middle;}

  .fileinput-new .fileinput-exists {
  display: none;}

  .fileinput .btn {
  vertical-align: middle;}



/*-------end of fileinput-----------*/



</style>