<div class="text-center">
  <h1 style="padding-bottom:23px;">تعديل المقال</h1>
</div>

<div class="Sign_Form col-lg-8 col-lg-offset-2 ">
	<%= render 'form', :url => article_path(:id=>@article) %>
</div>